* {
	box-sizing: border-box;
}

:root {
	/* header colors */
	--header-background: lightblue;

	/* nav colors */
	--nav-background: blue;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
	display: flex;

	align-items: center;
	justify-content: space-evenly;

	height: 70vh;
	background-color: var(--header-background);
}

header img {
	height: 40vh;
}

header h1 {
  font-size: 10vh;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	display: flex;

	align-items: center;
	justify-content: space-evenly;

	height: 7vh;
	position: sticky;
	top: -1px;

	background-color: var(--nav-background);
}

#small-header {
	display: flex;
	
	align-items: center;
	justify-content: center;

	height: 100%;
  width: 0;
  opacity: 0;

  transition: width 0.5s ease;
}

#small-header img {
  opacity: 0;
	height: 80%;

  transition: opacity 0.5s ease;
}

#small-header h1 {
  opacity: 0;
	font-size: 2.5vh;
  margin: 10px;

  transition: opacity 0.5s ease;
}

#small-header.active {
  opacity: 100%;
  width: 40vw;
}

#small-header.active img {
  opacity: 100%;
}

#small-header.active h1 {
  opacity: 100%;
}


.links {
	display: flex;

	text-align: center;
	text-decoration: none;

	color: white;
	font-size: 4vh;

	height: 100%;
	padding: 0 auto;
	width: 50%;

	justify-content: center;
	align-items: center;
}

.links:hover {
  background-color: rgb(255, 138, 255);
  color: black;
}

#main-body {
	font-size: 300%;
	background-color: red;
	padding: 3vmin;
}

#main-body h1, p {
	margin: 0;
}

#footer {
	height: 5vh;
	width: 100%;
	background-color: pink;
	position: sticky;
	bottom: 0px;
}